/* imported font family from google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

/* universal selector */
* {
    padding: 0;
    margin: 0;
}

/* Header section styles*/
.header-section {
    background-image: url("/assets/images/Banner\ Image.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 0 auto;


}

.title-container {
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    

}

.first-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}