/* imported font family from google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

/* universal selector */
* {
    padding: 0;
    margin: 0;
}

/* Header section styles*/
.header-section {
    background-image: url("/assets/images/Banner\ Image.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 1320px;
    height: 600px;
    margin: 0 auto;


}

.title-container {
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);


}

.first-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.main-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

/* second section styles */

.second-section {
    margin-top: 120px;
    text-align: center;
}

.off-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.category-title {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.new-year-img {
    width: 802.9px;
    height: 500px;
}

main {
    max-width: 1320px;
    margin: 0 auto;
}

/* Third Section styles */

.third-section {
    margin-top: 120px;
    background-image: url("/assets/images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    display: relative;
    background-position: center;

}

.third-section-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
}

.third-section-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

    padding: 126px 552px 112px 126px;

}

.third-section-img {
    position: absolute;
    right: 70px;
    transform: translateY(-83%);
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.third-section-p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.third-section-btn {
    background-color: transparent;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

/* Fourth Section Styles */

.fourth-section {
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.fourth-section-container {
    text-align: center;
    display: absolute;
    justify-content: center;
    padding-top: 100px;
}

.fourth-section-span {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.fourth-section-title {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.fourth-section-btn {
    margin-top: 24px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

/* Fifth Section Styles */
.fifth-section {
    width: 1600px;
    height: 7335px;
    background-color: #FFF;
    margin-top: 120px;
}

.fifth-section-container {
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;

}

.fifth-section-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    width: 207px;
    height: 29px;
}

.fifth-section-sub-title {
    color: #070211;
    font-family: Merriweather;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    height: 60px;
    width: 328px;
    margin-bottom: 22px;

}

.fifth-section-p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 128px;
    margin-right: 70px;
}

.circle {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    position: relative;
    padding: 50px;
    margin-right: 120px;

}

.fifth-section-final-t {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.fifth-section-final-p {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.fifth-section-final-img {
    margin-top: 43px;
    width: 140px;
    height: 140px;

}